%h1 Listing selfies

%table
  %tr
    %th
    %th
    %th
    %th

  - @selfies.each do |selfie|
    %tr
      %td= image_tag selfie.image.url(:thumb)
      %td= link_to 'Show', [@quest, selfie]
      %td= link_to 'Edit', edit_quest_selfie_path(@quest, selfie)
      %td= link_to 'Destroy', [@quest, selfie], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
