%h1 Listing selfies

%table
  %tr
    %th
    %th
    %th

  - @selfies.each do |selfie|
    %tr
      %td= link_to 'Show', selfie
      %td= link_to 'Edit', edit_selfie_path(selfie)
      %td= link_to 'Destroy', selfie, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Selfie', new_selfie_path
