/*
 *
 *= require bootstrap_override
 *= require_tree .
 *= require_self
 */

body {
  font-weight: 300;
}

.banner {
	color: #EF5BA1;
	font-size: 24pt;
	font-weight: 600;
	position: relative;
	top: 5px;

	em {
		color: #26BDCF;
		font-style: normal;
	}
}